name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Autograding - Biblioteca (lvl 2)
      id: autograding-biblioteca-lvl-2
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
        max-score: 100
        setup-command: pip install pytest
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        AUTOGRADING-BIBLIOTECA-LVL-2_RESULTS: "${{steps.autograding-biblioteca-lvl-2.outputs.result}}"
      with:
        runners: autograding-biblioteca-lvl-2
